<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tues registration</title>
</head>
<body>
<div>Hi <b th:text="${user.name}"></b></div>

<div> Your username is <b th:text="${user.name}"></b>
      To complete your registration follow <a th:href="'http://localhost:8080/registration/completion?token=' + ${registrationToken}">this</a> link</div>
</body>
</html>